name: Lint

on: pull_request

permissions:
  contents: read

jobs:
  actionlint:
    name: GitHub Actions
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Lint GitHub Actions Workflow Files
      uses: raven-actions/actionlint@v2.0.1 # v2.0.1
  yamllint:
    name: YAML
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Setup Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: 3.14.0
    - name: Install yamllint
      run: |
        pip install --upgrade pip
        pip install yamllint
    - name: Lint YAML Files
      run: |-
        yamllint .
