name: Release

on:
  push:
    branches:
    - main

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-24.04
    # Skip running release workflow on forks
    if: github.repository_owner == 'craigsloggett-lab'
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Release
      id: release
      uses: cycjimmy/semantic-release-action@ba330626c4750c19d8299de843f05c7aa5574f62 # v5.0.2
      with:
        semantic_version: 25.0.2
        extra_plugins: |
          @semantic-release/git@10.0.1
          conventional-changelog-conventionalcommits@9.1.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
