name: Lint

on:
  workflow_call:
    inputs:
      python-version:
        description: The version of Python to use when running `yamllint`.
        default: 3.14.0
        required: false
        type: string
      terraform-version:
        description: The version of Terraform to use when running `terraform fmt` and `tflint`.
        default: 1.13.5
        required: false
        type: string
      tflint-version:
        description: The version of TFLint to use when running `tflint`.
        default: 0.59.1
        required: false
        type: string

permissions:
  contents: read

jobs:
  actionlint:
    name: GitHub Actions
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Lint GitHub Actions Workflow Files
      uses: raven-actions/actionlint@v2.0.1 # v2.0.1
  yamllint:
    name: YAML
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Setup Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: ${{ inputs.python-version }}
    - name: Install yamllint
      run: |
        pip install --upgrade pip
        pip install yamllint
    - name: Lint YAML Files
      run: |
        yamllint .
  terraform-fmt:
    name: Terraform
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
      with:
        terraform_version: ${{ inputs.terraform-version }}
    - name: Lint Terraform Files
      run: |
        terraform fmt -recursive -check
  tflint:
    name: TFLint
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
      with:
        terraform_version: ${{ inputs.terraform-version }}
    - name: Setup TFLint
      uses: terraform-linters/setup-tflint@v6
      with:
        tflint_version: v${{ inputs.tflint-version }}
    - name: TFLint
      run: |
        terraform init -backend=false
        tflint --init
        tflint --recursive --format=compact
  terraform-docs:
    name: Terraform Docs
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - name: Generate Docs
      uses: terraform-docs/gh-actions@6de6da0cefcc6b4b7a5cbea4d79d97060733093c # v1.4.1
      with:
        fail-on-diff: true
